<form class="form-horizontal">
	<div class="form-group">
		<label for="account" class="col-sm-2 control-label">LDAP 帳號</label>
		<div class="col-sm-10">
			<input id="account" type="text" class="form-control" placeholder="請輸入 LDAP 帳號" data-ng-model="account">
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">LDAP 密碼</label>
		<div class="col-sm-10">
			<input id="password" type="password" class="form-control" placeholder="請輸入 LDAP 密碼" data-ng-model="password">
		</div>
	</div>
	<div class="form-group">
		<label for="sprint-name" class="col-sm-2 control-label">Sprint 名稱</label>
		<div class="col-sm-10">
			<input id="sprint-name" type="text" class="form-control" placeholder="請輸入 Sprint 名稱" data-ng-model="sprintName">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<span class="help-block">LDAP 帳號、密碼僅供與 Jira 界接使用，不會儲存在資料庫中。</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default" data-ng-disabled="!account || !password || !sprintName" data-ng-click="searchJira()">下一步</button>
		</div>
	</div>
</form>