<form class="form-horizontal">
	<div class="form-group">
		<label for="sprints" class="col-sm-2 control-label">選擇 Sprint</label>
		<div class="col-sm-10">
			<select id="sprints" class="form-control" data-ng-model="selectedSprintId">
				<option data-ng-repeat="sprint in sprints" value="{{sprint.id}}">{{sprint.name}}</option>
			</select> 
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<span class="help-block">選擇要 Plan 的 Sprint。</span>
		</div>
	</div>
	<div class="form-group">
		<label for="sprints" class="col-sm-2 control-label">是否取得所有 Issue</label>
		<div class="col-sm-10">
			<label class="radio-inline"><input type="radio" data-ng-value="true" data-ng-model="isRetrieveAll" checked>是</label>
			<label class="radio-inline"><input type="radio" data-ng-value="false" data-ng-model="isRetrieveAll">否</label>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<span class="help-block">選「否」只會取得尚未完成的 Issue。</span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default" data-ng-disabled="!selectedSprintId" data-ng-click="chooseSprint()">下一步</button>
		</div>
	</div>
</form>