<form class="form-inline">
	<div class="form-group">
		<span>Total sps: {{totalSp}}</span>
		<span>Total hrs: {{totalHr}}</span>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-default" data-ng-click="downloadIssuesFromJira()">
			<span class="glyphicon glyphicon-arrow-down"></span>
			<span>從 Jira 更新 issue</span>
		</button>
	</div>
	<div class="form-group">
		<button type="button" class="btn btn-default" data-ng-click="syncIssuesToJira()">
			<span class="glyphicon glyphicon-arrow-up"></span>
			<span>將結果同步至 Jira</span>
		</button>
	</div>
</form>
<ul class="list-group issues" data-ui-sortable="sortableOptions" data-ng-model="issues">
	<li class="list-group-item" data-ng-repeat="issue in issues">
		<div class="row">
			<div class="col-md-1">
				<button type="button" class="btn btn-danger btn-xs" data-ng-click="removeIssue($index)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
			<div class="col-md-1">
				<a href="https://gssjira.gss.com.tw/browse/{{issue.key}}" target="_blank">{{issue.key}}</a>
			</div>
			<div class="col-md-6">
				<span title="{{issue.summary}}">{{issue.summary}}</span>
			</div>
			<div class="col-md-2">
				<div class="input-group">
					<input type="number" class="form-control input-sm" data-ng-model="issue.storyPoints" data-ng-change="calculateSps()">
					<span class="input-group-addon input-sm">Pts</span>
				</div>
			</div>
			<div class="col-md-2">
				<div class="input-group">
					<input type="number" class="form-control input-sm" data-ng-model="issue.estimatedWorkingHours" data-ng-change="calculateHrs()">
					<span class="input-group-addon input-sm">Hrs</span>
				</div>
			</div>
		</div>
	</li>
</ul>
