.main-wrapper {
	margin-top: 61px;
	height: calc(100vh - 61px);
}

.main-wrapper>div {
	height: calc(100vh - 61px);
	overflow: auto;
}

.issues {
	height: calc(100vh - 104px);
	overflow: auto;
	margin: 10px 0px 0px 0px;
}

.issues .row .col-md-1 {
	width: 140px;
	padding: 0px 5px 0px 5px;
	line-height: 30px;
}

.issues .row .col-md-1:first-child {
	width: 30px;
}

.issues .row .col-md-1:last-child {
	width: 140px;
}

.issues .row .col-md-2 {
	width: 120px;
	padding: 0px 5px 0px 5px;
	line-height: 30px;
}

.issues .row .col-md-6 {
	width: calc(100% - 410px);
	padding: 0px 5px 0px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 30px;
}

.sortable-placeholder {
	background-color: #898989;
	height: 45px;
}

.step3.row>.col-md-11 {
	width: calc(100% - 98px);
}

.step3.row>.col-md-1 {
	width: 98px;
}