<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="jiraApp" data-ng-controller="indexController">
<head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
<link rel="stylesheet" href="css/lib/jquery-ui/jquery-ui.min.css" />

<link rel="stylesheet" href="css/common.css" />
<link rel="stylesheet" href="css/loading.css" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/lib/jquery-ui.min.js"></script>
<script src="js/lib/notify.min.js"></script>
<script src="js/lib/jquery.blockUI.js"></script>
<script src="js/lib/sortable.js"></script>
	
<script src="js/index.js"></script>
<script src="js/pages/step1.js"></script>
<script src="js/pages/step2.js"></script>
<script src="js/pages/step3.js"></script>
<script src="js/init.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"
					th:text="'JiraApp v' + ${project.version}"></a>
			</div>
		</div>
	</nav>
	<div class="main-wrapper">
		<div class="side-bar col-md-3" style="width: 315px;">
			<ul class="list-group">
				<li class="list-group-item" data-ng-repeat="step in stepsArray" 
					data-ng-class="{'list-group-item-info' : step.description == currentStep}">
					<span class="glyphicon glyphicon-hand-right" data-ng-if="step.description == currentStep"></span>
					<span>{{step.description}}</span>
				</li>
			</ul>
		</div>
		<div class="main-content col-md-9" style="width:calc(100% - 315px);">
<!-- 			<div class="panel panel-default">
				<div class="panel-heading">{{currentStep}}</div> 
				<div class="panel-body"> -->
					<div data-ng-view></div>
<!-- 				</div>
			</div> -->
		</div>
	</div>